.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e3e2df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

box {
  display:inline-block;
  width: 80%;
  min-height:50px;
  background-color:#ebeae7;
  border:4px solid #55AD74;
  text-align: left;
  padding: 8px;
}

mbox {
  display:inline-block;
  width: 85%;
  height: auto;
  background-color:#ebeae7;
  border:4px solid #55AD74;
  justify-content: center;
}

heading {
  display:inline-block;
  width:100%;
  height:40px;
  background-color:#55AD74;
  color:rgb(255, 255, 255);
  text-align: center;
  font-size: 25px;
  justify-content: center;
}