<launch>
    <param name="/use_sim_time" value="true"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(find robotic-docent-core)/stage_config/maps/museum-test.pgm 0.025">
    </node>

    <node name="simulation_1" pkg="stage_ros" type="stageros" args="$(find robotic-docent-core)/stage_config/worlds/museum-test.world"
        output="screen"/>

    <include file="$(find robotic-docent-core)/move_base_config/amcl_node.xml"/> 
    <include file="$(find robotic-docent-core)/move_base_config/move_base.xml"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotic-docent-core)/single_robot.rviz" />
</launch>