@import url("https://fonts.googleapis.com/css2?family=Goldman&family=Oxygen&family=Ubuntu&display=swap");
.map-editor-body {
  height: 100vh;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #D5D5D5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #D5D5D5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #55AD7A;
}

h1 {
  font-family: "Goldman", cursive;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.5 rem;
}

h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
  color: #000000;
}

html, body {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  height: 100%;
  width: 100%;
}

.MuiDialogContent-root::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #D5D5D5;
}

.MuiDialogContent-root::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: #D5D5D5;
}

.MuiDialogContent-root::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #55AD7A;
}

.navigation-container {
  height: 100%;
}

.navigation-bar {
  background-color: #55AD7A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-bar .navigation-bar-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-bar .navigation-bar-title-container a {
  text-decoration: none;
}

.navigation-bar .navigation-bar-title-container .navigation-bar-title {
  margin: 2rem;
}

.navigation-bar .navigation-bar-title-container .navigation-bar-title-version {
  color: #334D5C;
  margin: 1rem;
}

.navigation-bar .navigation-button-container {
  margin-top: auto;
  margin-bottom: auto;
  height: 30%;
}

.navigation-bar .navigation-button {
  color: #FFFFFF;
  background-color: #1E5D88;
  height: 30%;
  margin: 1rem;
  text-transform: none;
  font-family: "Ubuntu", sans-serif;
}

.navigation-bar .navigation-button:hover {
  background-color: #334D5C;
}

.navigation-bar .navigation-profile {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 15px;
}

.home-page {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-page .MuiCard-root {
  height: 100%;
}

.home-page .MuiCardHeader-root {
  margin: auto;
}

.home-map-and-profile {
  width: 50%;
}

.home-map-and-profile .home-map-card {
  margin: 1rem;
  height: 30%;
}

.home-map-and-profile .home-map-card .MuiCard-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-map-and-profile .home-map-card .MuiCardHeader-root {
  text-align: center;
}

.home-map-and-profile .home-map-card a {
  text-decoration: none;
}

.home-map-and-profile .home-map-card .MuiCardMedia-root {
  width: 50%;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.home-map-and-profile .home-map-card :hover .MuiCardMedia-root {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.home-map-and-profile .home-profile-card {
  margin: 1rem;
  height: 60%;
}

.home-map-and-profile .home-profile-card .MuiCardHeader-root {
  background-color: #77be95;
}

.home-map-and-profile .home-profile-card .home-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

.home-map-and-profile .home-profile-card .home-profile-info-container {
  display: inline;
  margin-left: 1rem;
}

.home-map-and-profile .home-profile-card .home-profile-info-container .home-profile-name {
  font-size: 1rem;
}

.home-map-and-profile .home-profile-card .home-profile-info-container .home-profile-activity {
  font-size: 0.75rem;
  color: #23292E;
}

.home-analytics-card {
  width: 50%;
  margin: 1rem;
}

.home-analytics-card .MuiCardHeader-root {
  background-color: #77be95;
}

.editor-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editor-sidebar {
  width: 30%;
  float: left;
  background-color: #FFFFFF;
  overflow-y: scroll;
}

.editor-sidebar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #D5D5D5;
}

.editor-sidebar::-webkit-scrollbar {
  width: 10px;
  background-color: #D5D5D5;
}

.editor-sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #55AD7A;
}

.exhibit-item-card {
  margin: 1rem;
  padding: 0.5rem;
}

.exhibit-item-card:hover {
  background-color: #EBEBEB;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.exhibit-sidebar-add-button-container .exhibit-sidebar-add-button {
  margin-top: 0;
  margin: 0.5rem;
  border: 2px dashed #EBEBEB;
}

.exhibit-sidebar-add-button-container .MuiButton-root {
  width: 95%;
  padding: 2rem;
  margin-right: auto;
}

.editor-map {
  width: 70%;
  float: right;
}

.exhibit-item-header .MuiOutlinedInput-notchedOutline {
  border-color: #FFFFFF;
}

.exhibit-item-header .MuiOutlinedInput-input:focus {
  background-color: #EBEBEB;
}

.exhibit-item-header .exhibit-item-title input {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1%;
  padding-top: 0;
  padding-bottom: 0;
}

.exhibit-item-header .exhibit-item-subtitle input {
  font-size: 0.75rem;
  padding: 1%;
}

.exhibit-item-content-container .MuiTextField-root {
  margin-top: 0.75rem;
}

.exhibit-item-content-container .MuiOutlinedInput-notchedOutline {
  border-color: #FFFFFF;
}

.exhibit-item-content-container .MuiOutlinedInput-input:focus {
  background-color: #EBEBEB;
}

.exhibit-item-content-container .MuiOutlinedInput-multiline:focus-within {
  background-color: #EBEBEB;
}

.exhibit-item-dates {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.exhibit-item-dates .MuiTextField-root {
  margin: 1rem;
}

.exhibit-item-qna-cards .exhibit-item-qna-container .exhibit-item-qna-cards-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exhibit-item-qna-cards .exhibit-item-qna-container .exhibit-item-qna-cards-container .exhibit-item-qna-add-button {
  margin: 0.5rem;
  border: 2px dashed #EBEBEB;
}

.exhibit-item-qna-cards .exhibit-item-qna-container .exhibit-item-qna-cards-container .MuiButtonBase-root {
  width: 30%;
}

.exhibit-item-qna-cards .exhibit-item-qna-container .exhibit-item-qna-cards-container .exhibit-item-qna-card {
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
  margin: 0.25rem;
}

.exhibit-item-qna-cards .exhibit-item-qna-container .exhibit-item-qna-cards-container .exhibit-item-qna-card .MuiCard-root:hover {
  cursor: pointer;
}

.exhibit-item-qna-cards .exhibit-item-qna-container .exhibit-item-qna-cards-container .exhibit-item-qna-card .MuiCardHeader-root {
  height: 6rem;
}

.exhibit-item-qna-cards .exhibit-item-qna-container .exhibit-item-qna-cards-container .exhibit-item-qna-width-30 {
  width: 30%;
}

.exhibit-item-qna-cards .exhibit-item-qna-container .exhibit-item-qna-cards-container .exhibit-item-qna-width-100 {
  width: 100%;
}

.exhibit-piece-modal-header .MuiOutlinedInput-notchedOutline {
  border-color: #FFFFFF;
}

.exhibit-piece-modal-header .MuiOutlinedInput-input:focus {
  background-color: #EBEBEB;
}

.exhibit-piece-modal-header .piece-item-title input {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1%;
  padding-top: 0;
  padding-bottom: 0;
}

.exhibit-piece-modal-header .piece-item-author input {
  font-size: 0.75rem;
  padding: 1%;
}

.exhibit-piece-modal-content .exhibit-piece-modal-dimension-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exhibit-piece-modal-content .exhibit-piece-modal-dimension-container .exhibit-piece-modal-dimension-dash {
  margin: auto;
  font-size: 1rem;
}

.exhibit-piece-modal-content .exhibit-piece-modal-dimension-container .MuiTextField-root {
  width: 30%;
}

.exhibit-piece-modal-content .exhibit-piece-modal-coordinates-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exhibit-piece-modal-content .exhibit-piece-modal-coordinates-container .exhibit-piece-modal-coordinates-comma {
  margin: 0.5rem;
  margin-top: 3rem;
  font-size: 1rem;
}

.exhibit-piece-modal-content .exhibit-piece-modal-coordinates-container .MuiTextField-root {
  width: 45%;
}

.exhibit-piece-modal-content .MuiTextField-root {
  margin-top: 1rem;
}

.exhibit-piece-modal-content .MuiOutlinedInput-notchedOutline {
  border-color: #FFFFFF;
}

.exhibit-piece-modal-content .MuiInputBase-formControl:focus-within {
  background-color: #EBEBEB;
}

.exhibit-piece-modal-content .MuiOutlinedInput-multiline:focus-within {
  background-color: #EBEBEB;
}

.exhibit-piece-modal-content input::-webkit-outer-spin-button,
.exhibit-piece-modal-content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.exhibit-delete-button {
  margin: 1rem;
  float: right;
}

.exhibit-delete-button .MuiButton-root {
  background-color: #e66767;
}

.exhibit-delete-button button:hover {
  background-color: #C62121;
}

.exhibit-piece-delete-button {
  margin: 1rem;
  float: right;
}

.exhibit-piece-delete-button .MuiButton-root {
  background-color: #e66767;
}

.exhibit-piece-delete-button button:hover {
  background-color: #C62121;
}

.exhibit-delete-alert-buttons {
  margin: auto;
}

.exhibit-delete-alert-buttons .exhibit-delete-alert-button-delete {
  margin: 1rem;
}

.exhibit-delete-alert-buttons .exhibit-delete-alert-button-delete .MuiButton-root {
  background-color: #e66767;
  text-transform: none;
}

.exhibit-delete-alert-buttons .exhibit-delete-alert-button-delete button:hover {
  background-color: #C62121;
}

.exhibit-delete-alert-buttons .exhibit-delete-alert-button-cancel {
  margin: 1rem;
}

.exhibit-delete-alert-buttons .exhibit-delete-alert-button-cancel .MuiButton-root {
  text-transform: none;
}

.exhibit-piece-delete-alert-buttons {
  margin: auto;
}

.exhibit-piece-delete-alert-buttons .exhibit-piece-delete-alert-button-delete {
  margin: 1rem;
}

.exhibit-piece-delete-alert-buttons .exhibit-piece-delete-alert-button-delete .MuiButton-root {
  background-color: #e66767;
  text-transform: none;
}

.exhibit-piece-delete-alert-buttons .exhibit-piece-delete-alert-button-delete button:hover {
  background-color: #C62121;
}

.exhibit-piece-delete-alert-buttons .exhibit-piece-delete-alert-button-cancel {
  margin: 1rem;
}

.exhibit-piece-delete-alert-buttons .exhibit-piece-delete-alert-button-cancel .MuiButton-root {
  text-transform: none;
}

.map-portion {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* <= shrinks container to image size */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.millie:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.img-overlay-wrap {
  position: relative;
  display: inline-block;
  /* <= shrinks container to image size */
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.img-overlay-wrap img {
  /* <= optional, for responsiveness */
  display: block;
  max-width: 100%;
  height: auto;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

.uwu {
  padding: 2.5% 2.5%;
  background-size: cover;
}

.map-image {
  display: block;
  padding: 2.5% 2.5%;
  width: 80%;
  height: 80%;
  -webkit-transition: filterBrightness 2250ms cubic-bezier(0.4, 0, 0.2, 1) 0s, filterSaturate 3000ms cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 1500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: filterBrightness 2250ms cubic-bezier(0.4, 0, 0.2, 1) 0s, filterSaturate 3000ms cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 1500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.map-portion .exhibits svg {
  position: absolute;
  padding: 2.5% 2.5%;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0%;
}

.map-piece-button .floating-piece-button {
  background-color: #55AD7A;
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  top: auto;
  left: auto;
}

.exhibit-piece-modal-header .piece-item-title textarea {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1%;
  padding-top: 0;
  padding-bottom: 0;
}

.exhibit-piece-modal-header .MuiOutlinedInput-multiline {
  padding: 0.25rem;
}

.exhibit-piece-modal-header .exhibit-item-subtitle input {
  font-size: 0.75rem;
  padding: 1%;
}

.exhibit-piece-modal-header .MuiInputBase-formControl:focus-within {
  background-color: #EBEBEB;
}

.exhibit-piece-modal-header .MuiOutlinedInput-multiline:focus-within {
  background-color: #EBEBEB;
}

.piece-modal-title-container {
  background-color: #55AD7A;
  margin-bottom: 0.5rem;
}

.piece-modal-content-container .piece-modal-content-dimension-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.piece-modal-content-container .piece-modal-content-dimension-container .piece-modal-content-dimension-dash {
  margin: auto;
  font-size: 1rem;
}

.piece-modal-content-container .piece-modal-content-dimension-container .MuiTextField-root {
  width: 30%;
}

.piece-modal-content-container .piece-modal-content-coordinates-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.piece-modal-content-container .piece-modal-content-coordinates-container .piece-modal-content-coordinates-comma {
  margin: 0.5rem;
  margin-top: 3rem;
  font-size: 1rem;
}

.piece-modal-content-container .piece-modal-content-coordinates-container .MuiTextField-root {
  width: 30%;
}

.piece-modal-content-container .piece-modal-content-coordinates-container .MuiButton-root {
  margin: auto;
  height: 100%;
  width: 30%;
  background-color: #9aceb0;
  text-transform: none;
}

.piece-modal-content-container .piece-modal-content-coordinates-container button:hover {
  background-color: #55AD7A;
}

.piece-modal-content-container .MuiTextField-root {
  margin-top: 1rem;
}

.piece-modal-content-container .MuiOutlinedInput-notchedOutline {
  border-color: #D5D5D5;
}

.piece-modal-content-container .MuiInputBase-formControl:focus-within {
  background-color: #EBEBEB;
}

.piece-modal-content-container .MuiOutlinedInput-multiline:focus-within {
  background-color: #EBEBEB;
}

.piece-modal-content-container input::-webkit-outer-spin-button,
.piece-modal-content-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.piece-modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.piece-modal-buttons .piece-modal-button-cancel {
  margin: 0.5rem;
}

.piece-modal-buttons .piece-modal-button-add {
  margin: 0.5rem;
}

.piece-modal-buttons .piece-modal-button-add .MuiButton-root {
  background-color: #9aceb0;
  text-transform: none;
}

.piece-modal-buttons .piece-modal-button-add button:hover {
  background-color: #55AD7A;
}

.piece-modal-delete-alert-buttons {
  margin: auto;
}

.piece-modal-delete-alert-buttons .piece-modal-delete-alert-button-delete {
  margin: 1rem;
}

.piece-modal-delete-alert-buttons .piece-modal-delete-alert-button-delete .MuiButton-root {
  background-color: #9aceb0;
  text-transform: none;
}

.piece-modal-delete-alert-buttons .piece-modal-delete-alert-button-delete button:hover {
  background-color: #55AD7A;
}

.piece-modal-delete-alert-buttons .piece-modal-delete-alert-button-cancel {
  margin: 1rem;
}

.piece-modal-delete-alert-buttons .piece-modal-delete-alert-button-cancel .MuiButton-root {
  text-transform: none;
}

.tours-page {
  height: 100%;
}

.tours-page .tours-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 12rem;
  top: 8rem;
}

.tours-page .MuiButtonBase-root {
  height: auto;
  margin: 2rem;
  padding: 3rem;
}

.tours-page .tour-list-container {
  float: left;
  width: 50%;
  margin: auto;
}

.tours-page .tour-list-container .MuiTypography-root {
  text-align: center;
}

.tours-page .tour-list-container .tour-list-today {
  margin: 1rem;
}

.tours-page .tour-list-container .tour-list-upcoming {
  margin: 1rem;
}

.tours-page .tour-list-container .tour-list-past {
  margin: 1rem;
}

.tours-page .tour-list-container .tour-item-container .MuiCard-root {
  width: 75%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.tour-item-title-container {
  background-color: #55AD7A;
  margin-bottom: 0.5rem;
}

.tour-item-content-container .MuiTextField-root {
  margin-top: 1rem;
}

.tour-item-content-container .MuiOutlinedInput-notchedOutline {
  border-color: #D5D5D5;
}

.tour-item-content-container .MuiInputBase-formControl:focus-within {
  background-color: #EBEBEB;
}

.tour-item-content-container .MuiOutlinedInput-multiline:focus-within {
  background-color: #EBEBEB;
}

.tour-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tour-buttons .tour-button-cancel {
  margin: 0.5rem;
}

.tour-buttons .tour-button-add {
  margin: 0.5rem;
}

.tour-buttons .tour-button-add .MuiButton-root {
  background-color: #9aceb0;
  text-transform: none;
}

.tour-buttons .tour-button-add button:hover {
  background-color: #55AD7A;
}

.tour-delete-alert-buttons {
  margin: auto;
}

.tour-delete-alert-buttons .tour-delete-alert-button-delete {
  margin: 1rem;
}

.tour-delete-alert-buttons .tour-delete-alert-button-delete .MuiButton-root {
  background-color: #9aceb0;
  text-transform: none;
}

.tour-delete-alert-buttons .tour-delete-alert-button-delete button:hover {
  background-color: #55AD7A;
}

.tour-delete-alert-buttons .tour-delete-alert-button-cancel {
  margin: 1rem;
}

.tour-delete-alert-buttons .tour-delete-alert-button-cancel .MuiButton-root {
  text-transform: none;
}
/*# sourceMappingURL=site.css.map */