.map-editor-body {
    height: 100vh;
}

.uwu {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9fafc;
}

h1 {
    font-family: $title-font-family;
    color: $white;
    font-weight: $font-weight-bold;
    font-size: 1.5 rem;
}

h2, h3, h4, h5, h6 {
    font-family: $headline-font-family;
    color: $black;
}

html, body {
    font-family: $paragraph-font-family;
    font-size: 1rem;
    height: 100%;
    width: 100%;
}
