//Color scheme
$primary-color: #55AD7A;
$secondary-color: #1E5D88;
$accent-secondary: #334D5C;
$alert: #C62121;
$black: #000000;
$accent-black: #23292E;
$white: #FFFFFF;
$accent-white: #D5D5D5;

@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Oxygen&family=Ubuntu&display=swap');

//Typography

$title-font-family: 'Goldman', cursive;
$headline-font-family: 'Ubuntu', sans-serif;
$paragraph-font-family: 'Oxygen', sans-serif;
$font-weight-regular: 300;
$font-weight-bold: 700;


