
//Color scheme
$primary-green: #55AD7A;
$secondary-blue: #1E5D88;
$accent-blue: #334D5C;
$black: #000000;
$accent-black: #23292E;
$white: #FFFFFF;
$accent-white: #D5D5D5;

//Typography
$title-font-family: 'Goldman', cursive;
$headline-font-family: 'Ubuntu', sans-serif;
$paragraph-font-family: 'Oxygen', sans-serif;
$font-weight-regular: 300;
$font-weight-bold: 700;

