.editor-page {
    display: flex;
    height: 100%;
}


.editor-sidebar {
    width: 30%;
    float: left;
    background-color: $white;
    border-right: 2px solid $accent-black; 
}

.editor-map {
    width: 70%;
    float: right;
}